@import 'tailwindcss';

@theme inline {
	--color-retro-yellow: #f0d66e;
	--color-light-gray: #737373;
	--color-dark-gray: #262626;
	--color-off-white: rgba(255, 255, 255, 0.9);
	--color-dark-white: rgba(255, 255, 255, 0.7);
	--color-retro-blue: #11408c;

	--drop-shadow-opaque: 4px 4px 0px rgba(0, 0, 0, 1);
	--shadow-translucent: 4px 4px 0px #737373;
}

body {
	font-family: var(--font-vt323);
}

@keyframes marquee-vertical {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-50%);
	}
}

.animate-marquee-vertical {
	animation: marquee-vertical 20s linear infinite;
}

/* Optional: Fades the top and bottom of the tech list */
.mask-image-gradient {
	mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
}

@keyframes typing-dots {
	0%,
	100% {
		width: 0;
	}
	50% {
		width: 24px; /* Adjust roughly to fit the width of 3 dots in your font */
	}
}

.typing-dots {
	animation: typing-dots 2s steps(4, end) infinite;
}
